<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magikkart_deliverydate" frontName="magikkart_deliverydate">
            <module name="Magikkart_DeliveryDate" before="Magento_Backend" />
        </route>
    </router>
</config>
